<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alba.lionproject1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Myapplication"
        android:icon="@mipmap/ic_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_image_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name=".ProbationPeriod_help"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Timepicker"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".partTimeContent"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".partTimeContent_help_Workplace"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".partTimeContent_help_Breaktime"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".SelectParttime"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".getDatePopUp"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".AlertDialog_filepath"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".AlertDialog_addxls"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity android:name=".registerWork" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alba.lionproject1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>